*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Helvetica Neue';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    backdrop-filter: blur(8px);
    padding: 0.5rem 1.5rem;
    /* border-radius: 3rem; */
    z-index: 1000;
    align-items: center;
}

.logo{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out
}
.logo:hover{
    transform: scale(1.1);
}
.nav-links{
    display: flex;
    gap:2rem;
}
li a{
    position: relative;
    color: white;
    font-weight: 400;
}
li a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 3px;
    top: 20px;
    border-radius: 1rem;
    transition:  0.3s ease-in-out;
    background: linear-gradient(to right, #dce35b, #45b649); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* li a:hover::before{
    width: 100%;
}
::-webkit-scrollbar{
    width: 15px;

}
::-webkit-scrollbar-track{
    background-color: rgb(219,219,219)
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #dce35b, #45b649); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
} */
#home{
    height: 100vh;
    background: 
        linear-gradient(rgba(0,0,0,0.5),#4db059),
        url('assets/SBDCSTAGE.JPEG');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-text{
    text-align: center;
}
.title-text h1{
    font-size: 6rem;
    color: white;
}
.mission, .events, .standings, .contributions {
    min-height: 60vh;
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

.section-title {
    margin-top: 50px;
    font-size: 3rem;
    text-align: center;     
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.section-title h1 {
    position: relative;
    display: inline-block;
}
.section-title hr{
    width: 30%;
    margin: 0 auto;
    border: none;        
    height: 3px;         
    background: linear-gradient(to right, rgb(9, 130, 31), white); /* Gradient for the hr */
    border-radius: 2px;  /* Optional: Adds a slight curve to the edges */
}
.section-title img{
    width: 200px;
}
.contributions .section-title img{
    width: 150px;
}

.mission-block {
    display: flex;          
    gap: 40px;
    flex-direction: row;
    max-width: 1000px;
    margin: 20px auto; 
    /* margin-left: 20px;  
    margin-right: 20px; */ /* Center the block horizontally and add vertical spacing */
}

.mission-text {
    flex: 1;
    max-width: 600px;
    line-height: 1.6;
}

.mission-text h3{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    background: linear-gradient(to right, #dce35b, #45b649); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text; /* Use the gradient as the text color */
    -webkit-text-fill-color: transparent;
    transition: 0.3s ease-in-out;
}
.mission-text h3:hover{
    cursor: pointer;
    scale: 1.05;
}


.mission-img img{
    max-width: 400px;      /* Limit the width of the image */
    height: auto;          /* Maintain aspect ratio */
    margin-top: 20px;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.events-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 50px; /* Adds space between grid cards */
    justify-items: center; /* Centers the grid cards horizontally */
    margin-bottom: 50px;
}
.grid-card {
    width: 100%; 
    max-width: 475px; 
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9; /* Card background */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Shadow for card */
    border-radius: 10px; /* Rounded corners */
}


.grid-card img {
    max-width: 100%; 
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.grid-card h4 {
    font-size: 1.5rem;
    margin-bottom: 10px; 
}

.grid-card p {
    font-size: 1rem;
    line-height: 1.6;
}
.final-two .grid-card{
    max-width: 1000px;
    /* margin-bottom: 50px; */
}

#standings {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}

.standings-content {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%; 
    max-width: 1000px;
}

.house-points, .dancing-queen {
    text-align: center; 
    flex: 1; /* Allow both sections to take equal space */
}

.house-points h3, .dancing-queen h3 {
    margin-bottom: 30px;
    font-size: 2rem;
    /* color: #333; You can adjust the color */
}

.house-points-list {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    max-width: 425px; */
}

.house-point-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px; 
    transition: 0.3s ease-in-out;
    background: linear-gradient(135deg, rgb(255, 213, 0), rgb(255, 217, 0)); /* Your gradient colors */
    -webkit-background-clip: text; /* Use the gradient as the text color */
    -webkit-text-fill-color: transparent;
}

.house-point-item span {
    font-family: 'Poppins', 'Helvetica Neue';
    font-size: 2rem; 
    line-height: 2;
    font-weight: bold; 
    transition: 0.3s ease-in-out;
    
}
.house-point-item .house-name-DG{
    background: linear-gradient(to right, #a8c0ff, #3f2b96); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text; /* Use the gradient as the text color */
    -webkit-text-fill-color: transparent;
}
.house-name-KD{
    background: linear-gradient(to right, #59c173, #a17fe0, #5d26c1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text; /* Use the gradient as the text color */
    -webkit-text-fill-color: transparent;
}
.house-name-AOP{
    background: linear-gradient(to right, #8a2387, #e94057, #f27121); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text; /* Use the gradient as the text color */
    -webkit-text-fill-color: transparent;
}
.house-name-DZ{
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text; /* Use the gradient as the text color */
    -webkit-text-fill-color: transparent;
}
.house-name-AZD{
    background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text; /* Use the gradient as the text color */
    -webkit-text-fill-color: transparent;
}

.house-point-item:hover{
    scale: 1.05;
    cursor: pointer; 
}


.dancing-queen img {
    margin-top: 10px; 
    max-width: 300px; 
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}
.dancing-queen img:hover{
    scale: 1.03;
    cursor: pointer;
}
.contributions-content{
    text-align: center;
}
.contributions{
    min-height: 60vh;
}
.contributions-content h1{
    margin-top: 50px;
    font-size: 50px;
}
.contributions-content h3{
    margin-top: 50px;
    font-size: 50px;
    background: linear-gradient(to right, #dce35b, #45b649);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    /* font-weight: bold; */
}
.contributions-content p{
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.6;
    color: gray;
    max-width: 600px;
    margin-bottom: 80px;
    padding: 10px;
}
footer{
    min-height: 70px;
    background-color: lightgray;
    opacity: 50%;
    color: rgb(85, 85, 85);
    text-align: center;
}
.footer-title {
    text-align: center; 
    padding-top: 20px;
}

@media(max-width:1024px){
    .mission-block{
        flex-direction: column;
        align-items:center ;
    }
    .events-grid{
        grid-template-columns: 1fr;
    }
    .final-two .grid-card{
        max-width: 475px;
    }
}
@media(max-width:768px){
    .section-title{
        align-items: center;
        flex-direction: column;
    }.events .section-title{
        margin-bottom: 30px;
    }
    .section-title .second{
        display: none;
    }
    .standings-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .events .section-title img{
        margin-bottom: -30px;
    }
}

@media(max-width:600px){
    .logo{
        display: none;
    }
    .mission-block{
        margin:20px !important;
        text-align: center;
    }
    .nav-links{
        gap: 1rem;
    }
    li a{
        font-size: 1rem;
        font-weight: 200;
    }
    header{
        gap: 1rem;
    }
    .mission-img img{
        max-width: 300px;      /* Limit the width of the image */
    }
    @media(max-width: 450px){
        .contributions-content h3{
            font-size: 2.3rem;
        }
        .dancing-queen h3{
            font-size: 1.5rem;
        }
        .section-title{
            font-size: 2.5rem;
        }
        .grid-card{
            max-width: 300px;
        }
        .final-two{
            max-width: 300px;
        }
        .house-point-item span{
            font-size: 1.5rem;
        }
        .dancing-queen img{
            max-width: 275px;
        }
    }
}